.pokemon-details {
  width: 40%;
  height: 99vh;
  padding: 0 16px;
  background-color: #fff;
  border-bottom: 1px solid lightgray;
}

.pokemon-image-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.pokemon-image {
  height: 100%;
  width: auto;
  margin-bottom: 16px;
  object-fit: contain;
}

.details p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 0;
  padding: 8px;
  border-top: 1px solid lightgray;
}

.details strong {
  text-align: start;
  display: inline-block;
  width: 50%;
  font-weight: bold;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
